.writeContainer{
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.writeItem{
    padding: 8px 10px;
    box-shadow: 0px 1px 2px 0px #5d5d5d83;
    border-radius:5px;
    margin-bottom: 3vh;
}

.writeItem h5{
    text-align:left;
    font-size: 4vw;
}

.writeItem{
    text-align: end;
}

.writeContainer .addBook{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    position:fixed;
    bottom: 5vh;
    right: 5vw;
    background:#008c8c;
    text-align: center;
    line-height: 15vw;
    color: white;
    font-size: 8vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}