.writeContainer{
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.write{
    width: 100%;
    height: 50vh;
}
.write textarea{
    width: 100%;
    height: 100%;
    resize: none;
    display: block;
}

form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.writeContainer button{
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 5px;
    background-color: #008c8c;
    margin-top: 15px;
}

.writeItem{
    padding: 8px 10px;
    box-shadow: 0px 1px 2px 0px #5d5d5d83;
    border-radius:5px;
    margin-bottom: 3vh;
}

.writeItem h5{
    text-align:left;
    font-size: 4vw;
}

.writeItem{
    text-align: end;
}