.container{
  background-size: cover;
  overflow: hidden;
}
.top{
  display: flex;
  align-items: center;
}
.avatar{
  flex: 0 0 auto;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.setBg{
  margin-left: auto;
}
.setBg svg{
  width: 10vw;
  height: 10vw;
}

.bottom{
  position: absolute;
  bottom: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}